<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.benyq.guochatapi.orm.dao.UserDao">

    <insert id="register" parameterType="com.benyq.guochatapi.orm.param.RegisterParam" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO t_user(nick, phone, pwd, uid, update_time, created_time)
        values (#{nick,jdbcType=VARCHAR},
                #{phone,jdbcType=VARCHAR},
                #{pwd,jdbcType=VARCHAR},
                #{uid,jdbcType=VARCHAR},
                #{updateTime,jdbcType=BIGINT},
                #{createTime,jdbcType=BIGINT});
    </insert>

    <select id="login" resultType="com.benyq.guochatapi.orm.entity.LoginEntity">
        select nick, t_user.id, uid, phone, gender, t_file_path.path as avatar
        from t_user left join t_file_path on t_file_path.id = t_user.avatar
        where phone = #{phone, jdbcType=VARCHAR}
          and pwd = #{pwd,jdbcType=VARCHAR};
    </select>

    <select id="checkUserExist" resultType="java.lang.Long" parameterType="java.lang.String">
        select id
        from t_user
        where phone = #{phone, jdbcType=VARCHAR};
    </select>

    <update id="editNick">
        update t_user
        set nick = #{nick, jdbcType=VARCHAR}, update_time = #{updateTime,jdbcType=BIGINT}
        where id = #{id,jdbcType=BIGINT};
    </update>

    <update id="editAvatar">
        update t_user
        set avatar = #{fileId, jdbcType=BIGINT}, update_time = #{updateTime,jdbcType=BIGINT}
        where id = #{id,jdbcType=BIGINT};
    </update>

</mapper>